<%= form_for(@icd_code) do |f| %>
  <% if @icd_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@icd_code.errors.count, "error") %> prohibited this icd_code from being saved:</h2>

      <ul>
      <% @icd_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :medium_description %><br />
    <%= f.text_field :medium_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :code_type %><br />
    <%= f.text_field :code_type %>
  </div>
  <div class="field">
    <%= f.label :mcc %><br />
    <%= f.check_box :mcc %>
  </div>
  <div class="field">
    <%= f.label :cc %><br />
    <%= f.check_box :cc %>
  </div>
  <div class="field">
    <%= f.label :activated %><br />
    <%= f.date_select :activated %>
  </div>
  <div class="field">
    <%= f.label :deactivated %><br />
    <%= f.date_select :deactivated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
