<!DOCTYPE html>
<html>
<head>
  <title>JTableSite</title>
  <%= stylesheet_link_tag :defaults %>
  <%= stylesheet_link_tag :jTable %>
  <%= javascript_include_tag :jquery15 %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :jTable %>
  <%= csrf_meta_tag %>
</head>
<body>
<p>
  <%= link_to 'jTable JS project', 'https://github.com/yelvert/jtable' %>
  <br />
  <%= link_to 'jtable-rails RubyGem', 'https://github.com/yelvert/jtable-rails' %>
  <br />
  <%= link_to 'jTable.net source', 'https://github.com/yelvert/jtable-site' %>
</p>

<ul>
  <li><%= link_to "ICD Codes", icd_codes_path %></li>
  <li><%= link_to "Widgets", widgets_path %></li>
</ul>

<%= yield %>

</body>
</html>
