<!DOCTYPE html>
<html>
<head>
  <title>JTable</title>
  <%= stylesheet_link_tag :defaults %>
  <%= stylesheet_link_tag :jTable %>
  <%= javascript_include_tag :jquery14 %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :jTable %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
